.movieCard {
    margin: 1% 0;
}

.selected {
    border: 2px solid red;
}

.movieCard img {
    width: 16.666em;
}

.popUpContainer {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid red;
    border-radius: 8px;
    max-width: 500px;
    text-align: center;
    background-color: black;
    color: white;
    transition: all 1s ease;
    animation: popUp .3s ease-in-out;
}

@keyframes popUp {
    from {
        opacity: 0;

    }

    to {
        opacity: 1;

    }
}